<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    
    <!-- interpolation syntax -->
    <h2><%="apnacollege".toUpperCase()%></h2>
    <h3><%=2+3%></h3>
    <!-- interpolation syntax -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta molestiae 
      perspiciatis nihil nulla veniam aperiam tempore repellendus non laborum 
      necessitatibus vel enim recusandae eius, dignissimos, possimus unde corporis
      cumque porro.</p>
    <button>Click Me!</button>
</body>
</html>