#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    /*Align-items:center*/
    align-items: center;

    /*Algin-items:start*/
    align-items: start;

    /*Algin-items:end*/
    align-items: end;
}
h1{
    text-align: center;
}

#container div{
    height: 20px;
    width: 300px;
    text-align: center;
    font-size: 1.5em;
    color: white
}