#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    justify-content: flex-start;

    /* flex-wrap: wrap; */
    flex-direction: row; 
    /* align-items: baseline; */

}
h1{
    text-align: center;
}
#org{
    align-self: flex-end;
    
}
#container div{
    height: 100px;
    width: 300px;
    text-align: center;
    font-size: 1.5em;
    color: white
}