
/* Question 1 */
/* #Container{
    height: 400px;
    width: 400px;
    border: 5px solid rgb(11, 125, 131);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    border-radius: 15px;
    background-color: white;

}
div{
    width: 100px;
    height: 100px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    background-color: grey;
} */

/* Question 2 */
#Container{
   width: 900px;
   height: 50px;
   border: 2px solid rgb(11,125,131);
   display: flex;
   border-radius: 15px;
   background-color: pink;
   flex-direction: row;
   justify-content: flex-start;
   /* flex-wrap:wrap; */
   align-items: center;

}
div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    line-height: 50px;
    margin-left: 5px;
}