#container{
    height: 500px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    /*For flex direction column*/
    flex-direction: column;
    /*For flex direction column reverse*/
    flex-direction: column-reverse;
    /*For flex direction row*/
    flex-direction: row;
    /*For flex direction row reverse*/
    flex-direction: row-reverse;

}
h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
    color: white
}