
/* div{
    height: 150px;
    width: 300px;
    background-color: grey;

    border:5px dotted black;

    margin:20px 1em 40px 2em;
    padding:1em;
} */

div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

/*override the default rule as list-item with own CSS style as inline */
li{
    display:inline;
    background-color: aqua;
}