#outer{
    height: 400px;
    width: 400px;
    border:2px solid black;
    background-color: pink;
    font-size: 10px;
}
#inner{
  height: 100px;
  width: 100px;
  background-color: cornflowerblue;
  font-size: 3em;
  padding: 1em;
}

button{
    font-size: 100px;
    border-radius: 15px;
    border: 5px outset green;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

section{
    font-size:10px;
}
div{
    font-size: 2em;/*According to the section size as em is use*/
}

/*use of rem*/
section{
    font-size:10px;
}
div{
    font-size:2rem;/*It is accprding top the html document size not the section*/
}
