#div{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
#div1,#div2,#div3{
   height: 50px;
   width: 50px;
   border-radius: 50px;

   border: 2px solid black;
   margin: 10px;

}
#div1{
    background-color: red;
}

#div2{
    background-color: yellow;
}

#div3{
    background-color: green;
}
