h1{
    width: 50%;
    border:2px solid black
}
#outer{
    background-color: pink;
    width: 400px;
    height: 400px;
}
#inner{
    background-color: black;
    height:50%;
    width: 50%;
    margin-left: 10%;
}