h1{
    text-align: center;
    text-decoration: red underline;
    text-decoration: wavy underline;
    text-decoration:wavy red underline;
}
h2{
    text-align: center;
    font-weight: 800;
    text-decoration:double yellow overline;
}
p{
    text-align: justify;
    font-weight: 400;
}
h3{
    text-decoration: blue line-through;
}
a{
    text-decoration: none;
}
