h1{
    /* For black
    color:#000000;
    /*For red*/
    color:#ff0000;
    /*For green*/
    color:#00ff00;
    /*For blue*/
    color:#0000ff;
    /*For yellow*/
    color:#ffff00;
    /*For pink*/
    color:#ff00ff;
    color:#330833; 

    /*This code is also written as in three letters as:-*/
    
    color:#49ae59;
}