#mainTopic{
  color:blue;
}

*{
    text-align: center;
}

h1,h3{
    font-family:Georgia;
}

p{
    color: white;
    background-color: cornflowerblue;
}

div>button{
    color:azure;
    background-color: purple;
}

div>button:hover{
    background-color: yellow;
    color:blue
}

p:nth-of-type(odd)
{
    color: yellow;
}

h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked+label{
   color: green;
}