*{
    font-family: 'Courier New';
}
h1{
   color:#1b74e4;
}
#Login{
    color:black;
    background-color: aqua;
}
#Register{
    color:black;
    background-color: aqua;
}
#search{
    background-color: black;
    color: white;
}