*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image: url("images/photo.jpg");
    background-size: cover;
    height: 100vh;
}

.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu{
    position: fixed;
    /*important thing*/
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear 0s;

}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    line-height: 60px;
    height: 60px;

}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
}

.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 275px;
    line-height: 60px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu .menu{
    position: absolute;
    color: white;
    top: 80px;
    width: 100%;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu li i,a{

    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu li i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    position: absolute;
    bottom: 50px;
    left: 75px;

}

.sidebar_menu .social_media i{
   color: white;
   opacity: 0.5;
   padding: 0 5px;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5); 
}

.btn_one i:hover{
    font-size: 40px;
}

.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
   opacity: 1;
   /* font-size: 30px; */
   transform: scale(1.1);
}

#check:checked~.sidebar_menu{
    left: 0px;
}

#check:checked~.btn_one i{
    opacity: 0;
}
#check:checked~ .sidebar_menu .btn_two i{
    opacity: 1;
}