/*ALPHA*/

/*using rgb*/
/* div{
    height: 100px;
    width: 100px;
    background-color: rgba(255,0,0,0.3);
} */

/*using hex*/
div{
    height: 100px;
    width: 100px;
    background-color: #ff0000ff;
}

/*OPACITY*/
#Opacity{
    
    height: 200px;
    width: 200px;
    background-color: #ffa151;
    opacity: 0.5;
}