#outer{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(238, 155, 30);
    position: relative;
}
#eye1,#eye2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    display: inline-block;
}

#eye1{
    left:100px;
    top:100px
}
#eye2{
    left:250px;
    top:100px
}
#mouth{
    width: 200px;
    height: 15%;
    position: absolute;
    top:250px;
    left: 100px;
    border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;
     background-color: brown;
}
