body {
  font-family: Arial;
}
/* not part of code */
.green{
  color: aqua;
 
}
.font{
  font-family: 'Times New Roman', Times, serif;
}
.underline{
   text-decoration: underline black wavy;
}
/* not part of code */

#mainImg {
  width: 20rem;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

/* not part of code */

.boxcolor{
  background-color: yellow;
}
/* not part of code */


.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}
