*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("./assests/images/bg.jpg");
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}