.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    
    animation-name:fontAnimation, coloranimation, widthanimation;
    animation-duration:2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fontAnimation{
    from{
        font-size: 20px;
    }
    to{
        font-size:40px
    }
}

@keyframes coloranimation {
    from{
      background-color: cadetblue;
    }
    to{
        background-color: aqua;
    }
}

@keyframes widthanimation {
    from{
      width: 300px;
    }
    to{
      width: 600px;
    }
}