.container{
    height: 300px;
    width: 600px;
    background-color: black;
    display:grid;
    
    /*Grid template repeat*/
    /* grid-template-rows: repeat(3,1fr); */
    /*also written as*/
    grid-template-rows:1fr 1fr 1fr;

    /* grid-template-columns: repeat(3,1fr); */
    /*also written as*/
    grid-template-columns:1fr 1fr 1fr;


 }

.item{

    /*Not define the height and widht*/
    /* width: 100px;
    height: 50px; */

    /*When define the height and width then they take that define one*/
    width: 100px;
    height: 50px; 
    background-color: yellowgreen;
    border: 2px solid red;
    text-align: center;
}