.container{
    height: 300px;
    width: 600px;
    background-color: black;
    display:grid;
}

.item{
    width: 100px;
    height: 50px;
    background-color: yellowgreen;
    border: 2px solid red;
    text-align: center;
}