.container{
    height: 300px;
    width: 600px;
    background-color: pink;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px 10px;

 }

.item{

    /* width: 100px;
    height: 50px;  */
    background-color: yellowgreen;
    border: 2px solid red;
    text-align: center;
}

#two{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
}