.container{
    height: 300px;
    width: 600px;
    background-color: pink;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    
    /*row gap*/
    row-gap: 60px;

    /*Col Gap*/
    column-gap: 60px;

    /*Short Hand*/
    grid-gap:10px 10px;

 }

.item{

    /* width: 100px;
    height: 50px;  */
    background-color: yellowgreen;
    border: 2px solid red;
    text-align: center;
}