.container{
    height: 300px;
    width: 600px;
    background-color: pink;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px 10px;

 }

.item{

    /* width: 100px;
    height: 50px;  */
    background-color: yellowgreen;
    border: 2px solid red;
    text-align: center;
}

#one{
    /*Grid Column*/
    grid-column-start: 1;
    grid-column-end: 3;
    /* width: 500px; */

    /*ShortHand*/
    grid-column:1/3;
    
    /*Another way using span number*/
    grid-column :1/span 2;
}