h1{
    background-color: yellow;
    border: 2px solid black;
}

/*For Accurate width*/
/* @media (width:400px){
   
    h1{
        background-color: red;
        color: yellow;
    }
    div{
        background-color: blue;
        height: 100px;
        width: 100px;
    }
} */

/*For min-width*/
@media(min-width:600px){
   h1{
    background-color: blue;
    color: pink;
   }
}

/*For max-width*/
@media(max-width:600px){
   h1{
    background-color: black;
    color: red;
   }
}

@media(min-width:200px) and (max-width:400px)
{
   h1{
       background-color: white;
   } 
}